# AUTHOR : Komal kurhe
    Spark foundation internship -May 2022 
    Task 3 : Exploratory Data Analysis - Retail

In [22]:
import pandas as pd 
import plotly.express as px 
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import warnings 
warnings.filterwarnings('ignore')

In [23]:
df=pd.read_csv(r'C:\Users\user\Downloads\SampleSuperstore.csv')
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [24]:
df.shape

(9994, 13)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [26]:
df.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [27]:
df.duplicated().sum()

17

In [28]:
df.drop_duplicates(inplace=True)

In [29]:
df.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [30]:
df.nunique()

Ship Mode          4
Segment            3
Country            1
City             531
State             49
Postal Code      631
Region             4
Category           3
Sub-Category      17
Sales           5825
Quantity          14
Discount          12
Profit          7287
dtype: int64

In [31]:
df.drop(columns='Postal Code',axis=1,inplace=True)

In [32]:
df.describe()   # Statistical summary of data

              Sales     Quantity     Discount      Profit
count   9977.000000  9977.000000  9977.000000  9977.00000
mean     230.148902     3.790719     0.156278    28.69013
std      623.721409     2.226657     0.206455   234.45784
min        0.444000     1.000000     0.000000 -6599.97800
25%       17.300000     2.000000     0.000000     1.72620
50%       54.816000     3.000000     0.200000     8.67100
75%      209.970000     5.000000     0.200000    29.37200
max    22638.480000    14.000000     0.800000  8399.97600

In [33]:
df['Ship Mode'].value_counts().to_frame()

                Ship Mode
Standard Class       5955
Second Class         1943
First Class          1537
Same Day              542

In [34]:
df['Segment'].value_counts().to_frame()

             Segment
Consumer        5183
Corporate       3015
Home Office     1779

In [35]:
df['Country'].value_counts().to_frame()

               Country
United States     9977

In [36]:
df['Region'].value_counts().to_frame()

         Region
West       3193
East       2845
Central    2319
South      1620

In [47]:
a=pd.DataFrame(df.groupby('Ship Mode')['Sales'].sum().sort_values(ascending=False))
a.reset_index(inplace=True)
a.columns=['Ship Mode','Sales']

b=pd.DataFrame(df.groupby('Ship Mode')['Profit'].sum().sort_values(ascending=False))
b.reset_index(inplace=True)
b.columns=['Ship Mode','Profit']

fig= make_subplots(rows=1,cols=2,subplot_titles=("Ship Mode vs Sales","Ship Mode vs Profit", ))
fig.add_trace(go.Bar(x=a['Ship Mode'],y=a['Sales'],marker=dict(color=[1,2,3,4,5])),1,1)
fig.add_trace(go.Bar(x=a['Ship Mode'],y=a['Profit'],marker=dict(color=[1,2,3,4,5])),1,2)

fig.update_xaxes(title_text="Ship Mode", row=1, col=1)
fig.update_xaxes(title_text="Ship Mode", row=1, col=2)
fig.update_yaxes(title_text="Sales", row=1, col=1)
fig.update_yaxes(title_text="Profit", row=1, col=2)

fig.update_layout(showlegend=False)

KeyError: 'Column not found: profit'

In [43]:
a = pd.DataFrame(df.groupby('Segment')['Profit'].sum().sort_values (ascenting=False))
a.reset_index(inplace=True) 
a.columns=[Segment, 'Profit']

b = pd.DataFrame(df.groupby('Segment")[Sales ].sum().sort_values (ascending=False))
b.reset_index(inplace=True) 
b.columns=['Segment", "Sales"]

fig make subplots (rows=1,cols-2, subplot_titles-("Segment vs Sales", "Segment vs Profit"))
fig.add_trace(go. Bar (x=b[ 'Segment ],y=b[ 'Sales 1,marker-dict (color=[1,2,3])), 1, 1)
fig.add_trace(go.Bar (xea[ 'Segment'], y=a['Profit'], markersdict (color=[1,2,3]}},2, 2) 
fig update layout (showlegend-False)

fig update xaxes (title_text="Segment", row-1, col-1) 
fig.update_xaxes (title_text="Segment", row=1, col=2)
fig.update_yaxes (title_text-"Sales", rowl, col-1)
fig.update yaxes (title_text="Profit", row=1, col=2)
fig update layout (showlegend-False)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_248/934644119.py, line 5)